<div class="container">
	<h1>
		Welcome to {{ title }}!
	</h1>
	<div class="row">
		<div class="col">
			<input [(ngModel)]="num1" class="form-control" text="text" placeholder="number1" />
		</div>
	</div>
	<div class="row">
		<div class="col">
			<input [(ngModel)]="num2" class="form-control" text="text" placeholder="number2" />
		</div>
	</div>
	<div class="row">
		<div class="col">
			<button (click)="calc(1)" type="button" class="btn btn-lg btn-outline-primary">Sum</button>
			<button (click)="calc(2)" type="button" class="btn btn-lg btn-outline-primary">Substraction</button>
			<button (click)="calc(3)" type="button" class="btn btn-lg btn-outline-secondary">Multiplication</button>
			<button (click)="calc(4)" type="button" class="btn btn-lg btn-outline-secondary">Division</button>
			<h3> {{result}} </h3>
		</div>
	</div>
</div>

